
.blogs .card-header{
    border: 0;
    background-color: transparent;


}

.blogs .blog-post:hover{
    background-image: linear-gradient(180deg, #19D3AE,#0f181a);
    color: #fff !important;
    transition: all linear .9s !important;
    cursor: pointer;
}
/* .blogs .card:hover .card-body{
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20%;
} */
.blogs .card:hover h6,
.blogs .card:hover p
{
    color: #fff !important;

}
.blogs .card:hover img{
    display: none;
}